body.wp-admin .spg-container {
	margin: 0 !important;
}

body.wp-admin.user-new-php .spg-container {
	margin: 20px 0 0 !important;
}

body.login .spg-container {
	margin: 0 0 -5px !important;
	text-align: center;
}

#spg-button {
	margin-bottom: 10px;
}

#spg-button .dashicons {
	margin-top: 5px;
	font-size: 18px;
}

#spg-controls {
	display: none;
	margin-bottom: 5px;
}

#spg-controls p {
	padding: 6px 0;
}

#spg-length {
	margin: 0 10px;
	line-height: 40px;
}

body.login #spg-display-pass {
	margin: 0 1px;
	padding: 3px 5px 2px;
	font-size: 13px;
	background: #eaeaea;
	background: rgba(0, 0, 0, 0.07);
}
